.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.Header-image {
  background-image: url(./images/avengers-infinity-war3.jpg); 
}

.MyBody {  
  background: black;
  min-height: 100vh;
}


.Title {
  margin-top:450px;
  text-align: center;
  color: white;
}

.nav .navbar-nav>li>a{
  color: white;
  font-size: 1.5em;
}

.nav .navbar-brand {
  color: white;
  font-size: 1.5em;
}

.GridMovies {
  display: flex;
  flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
